{% extends "admin/admin_sync/_publish_base.html" %}
{% block action-content %}
    <table>
        <tr>
            <th>Type</th>
            <th>Pk</th>
            <th>Label</th>
        </tr>
        {% for entry in result %}
            <tr>
                <td>{{ entry.0 }}</td>
                <td> #{{ entry.1 }}</td>
                <td>{{ entry.2 }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="{{ prod_logout }}?from={{ request.path }}">Logout from remote</a>
    </div>
{% endblock %}
