{% extends "admin/admin_sync/_publish_base.html" %}
{% block action-content %}
    {% if prod_credentials.username %}
        <div style="margin:10px">
            Proceeding you will download configuration from <strong>{{ server }} (<a href="{{ remote_admin }}">{{ remote_admin }}</a>)</strong>
        </div>

        <div style="margin:10px">
            You are currently logged in as <strong>{{ prod_credentials.username }}</strong>
            (<a href="{{ prod_logout }}?from={{ request.path }}">Change user</a>)
        </div>
        <div style="margin-top:50px">
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="default" value="Load">
                <input type="button" value="Cancel" onclick="javascript:history.back()">
            </form>
        </div>
    {% else %}
        <a href="{{ prod_login }}?next={{ request.path }}">Login</a>
    {% endif %}
{% endblock %}
