{% extends "admin/admin_sync/_publish_base.html" %}{% load admin_sync admin_urls %}
{% block action-content %}
    <h3>Models</h3>
    <ul>
        {% for m in collector.models %}
            <li>{{ m }}</li>
        {% endfor %}
    </ul>
    <h3>Data</h3>
    <small>(Total Records: {{ data|length }})</small>
    <table>
        {% for r in data|slice:"0:200"  %}
            <tr>
                <td>{{ r|classname }} </td>
                <td>#{{ r.pk }} </td>
                <td><a href="{{ r|admin_url:"change" }}">{{ r }}</a> </td>
            </tr>
        {% endfor %}
    </table>
    {% if data|length > 200 %}
        <i>continue....</i>
    {% endif %}
{% endblock %}
